BeautifulSoup==3.2.1
Brlapi==0.5.5
Codeville==0.8.0
PyYAML==3.10
Pyrex==0.9.9
archivemail==0.9.0
argparse==1.2.1
bzr==2.5.0
cvs2svn==2.3.0
dblatex==0.3.2
dev==0.4.0
feedparser==5.0.1
flawfinder==1.27
gdata==2.0.17
getmail==4.34.0
git-remote-helpers==0.1.0
googlecl==0.9.13
httplib2==0.6.0
mercurial==2.3.1
mingc==0.4.4
mutagen==1.20
networkx==1.6
nltk==2.0.3
nose==1.2.1
numpy==1.6.2
oauth2==1.5.170
offlineimap==6.5.4
paramiko==1.7.7.1
planet==2.0
pycrypto==2.6
pyparsing==1.5.6
python-twitter==0.8.2
pyxdg==0.23
rdiff-backup==1.2.8
simplejson==2.1.6
spambayes==1.0.4
stgit==0.16
tailor==0.9.35
urlgrabber==3.1.0
wsgiref==0.1.2
