
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gibberish</title>

    <!-- Le styles -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-responsive.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <!-- autoscrolling --!>
    <script type="text/javascript">
      $('document').ready(function(){
          scrollalert();
      });
      function scrollalert(){
          var scrolltop=$('#scrollbox').offset().top
          var scrollheight=$('#scrollbox').prop('scrollHeight');
          var windowheight=$(window).height()
          var scrolloffset=60;
          if(-1*scrolltop>=(scrollheight-(windowheight+scrolloffset)))
          {
              //fetch new items
              $.get('/scroll/{{lang}}', '', function(newitems){
                  $('#wordlist').append(newitems);
              });
          }
          setTimeout('scrollalert();', 1500);
      }
    </script>
  </head>

  <body>

    <div class="page-header">
      <div class="container">
      <h2>
          <a href="/index">Gibberish</a>
          <iframe src="http://ghbtns.com/github-btn.html?user=ohnorobo&repo=gibberish&type=fork"
          allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        </h2>
        <p>statistically plausible words</p>
      </div>
    </div>


    <div id="scrollbox">
      <div class="container">
          <h4>{{lang_name}}</h4>
      
          <ul id="wordlist">
            {% for word in words %}
            <li><p> {{word}} </p></li>
            {% endfor %}
          </ul>
      </div>
    </div>


    <div id="footer">
      <div class="container">
        <p class="muted credit">
            other languages 
            {% for language in available_languages %}
            &middot; <a href="/index/{{language}}">{{language}}</a> 
            {% endfor %}
        </p>
      </div>
    </div>

   </body>
</html>

